<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="styles/common.css">
    <link rel="stylesheet" href="styles/nav.css">
    <link rel="stylesheet" href="styles/homepage.css">
    <title>About</title>
</head>

<body>
    <div class="skewed-header">
        <div class="header-bg" style="background-image: url('../images/h1.jpeg');"></div>
        <div class="skewed-header-wrapper">
            <div class="skewed-header-content">
                <div class="heading-wrapper">
                    <h1>ABOUT US</h1>
                </div>
            </div>

            <div class="links-wrapper">
                <!-- nav link -->
                <div class="nav-link">
                    <a href="C:\Users\Admin\Desktop\FOLDER\HTML AND CSS Udemy\New folder\index.html">HOME</a>
                </div>
                <!-- nav link -->
                <div class="nav-link">
                    <a href="C:\Users\Admin\Desktop\FOLDER\HTML AND CSS Udemy\New folder\about.html">ABOUT</a>
                </div>
                <!-- nav link -->
                <div class="nav-link">
                    <a href="C:\Users\Admin\Desktop\FOLDER\HTML AND CSS Udemy\New folder\menu.html">MENU</a>
                </div>
                <!-- nav link -->
                <div class="nav-link">
                    <a href="C:\Users\Admin\Desktop\FOLDER\HTML AND CSS Udemy\New folder\contact.html">CONTACT</a>
                </div>
            </div>
        </div>
    </div>
    <div class="page-container">
        <div class="content-wrapper">
            <img src="../images/i7.jpeg" alt="Fries" id="chef">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim fuga animi officia rerum perspiciatis
                mollitia,
                repellat recusandae ut? Similique accusamus voluptatum facilis eligendi illum necessitatibus velit eos
                delectus iste, esse ut reiciendis quae sapiente, alias minus quia reprehenderit rem eius deleniti.
                Necessitatibus nisi architecto sequi fuga aut alias sit similique molestias placeat aliquid possimus
                iste
                obcaecati repellat provident quod, mollitia, fugiat assumenda ullam deserunt laboriosam commodi aperiam
                blanditiis. Quod, eos placeat architecto corrupti odio sunt pariatur molestias doloribus hic. Odit
                nostrum
                dicta quidem, sed deleniti quas itaque rerum? Officiis, ea adipisci? Tempore corrupti obcaecati
                laboriosam
                sed nam harum, ut suscipit inventore dignissimos voluptatibus dicta reprehenderit officia illo quo ipsam
                culpa modi, quasi, ad incidunt fugit eius minus. Incidunt eligendi accusantium at. Ut optio repudiandae
                saepe nesciunt beatae fuga earum consectetur nihil magnam, ad, ipsa voluptates sed at. Ea ex ab,
                consequatur
                sit totam cum sunt aliquid facilis vitae aut, iure ad numquam nesciunt officiis. Porro corporis quo
                natus
                impedit, obcaecati quaerat placeat? Odit mollitia officiis voluptatem reiciendis delectus natus
                provident
                facere nam, suscipit magni nesciunt minima deserunt, accusamus cum quod saepe accusantium unde aliquid
                quibusdam vero laboriosam quidem iusto. Exercitationem officiis, quisquam omnis repudiandae beatae
                laborum
                esse iure fugit cumque!
            </p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum corporis neque doloremque voluptatum
                praesentium optio voluptates in totam pariatur ipsa, veritatis suscipit illum deleniti molestias
                repellat
                quisquam esse mollitia ratione enim tenetur? Officiis atque quos iste vero, modi repudiandae quae
                magnam,
                eveniet ratione reiciendis, vitae animi obcaecati deleniti dolore minima suscipit expedita earum quo
                consequuntur distinctio eligendi ea beatae? Corrupti velit ipsum sit adipisci accusantium atque
                accusamus,
                obcaecati inventore odit dolore non at nam neque officia dolores. Pariatur minus accusamus dignissimos
                iste
                quos! Ut iusto assumenda error praesentium tempora quis enim velit a quod officia debitis et odio atque
                asperiores dolores aspernatur dolorem, nesciunt inventore sed natus quidem officiis eos incidunt
                delectus.
                Maiores porro quod expedita, quidem eius esse deleniti officia ex, ad, ratione omnis explicabo placeat
                temporibus eos modi nulla ab! Quisquam accusantium ratione, quod atque beatae quia minima quibusdam
                optio
                suscipit asperiores fugiat, qui ducimus explicabo delectus temporibus saepe dolorem et unde error? Animi
                assumenda non recusandae id provident, maiores debitis vero repellat tenetur illo ipsa, nostrum cum
                molestiae incidunt! Nemo iusto dolorum ducimus numquam, tenetur, odio asperiores explicabo ut nesciunt
                veniam laboriosam soluta, repellat reprehenderit optio. Praesentium adipisci omnis iure delectus
                provident
                consequuntur! Autem quibusdam, sit quisquam nesciunt corrupti quam ex, dignissimos provident animi quo
                voluptatum similique consequatur error, veniam ab! Aut nulla voluptates sequi suscipit. Labore sit,
                adipisci
                blanditiis expedita dolore pariatur eum doloremque, tempora corporis autem similique, libero repellendus
                illo. Animi expedita iste obcaecati odio eum sunt odit maxime, reiciendis, veniam, ipsum numquam. Amet
                incidunt quasi, minima eligendi obcaecati rerum pariatur quidem quod delectus maiores, error adipisci
                officiis dolorum odio ex excepturi sapiente molestiae unde! Inventore, provident! Recusandae doloremque,
                libero at assumenda, tempora accusamus nulla error ratione blanditiis vero qui unde autem nisi labore
                eaque
                accusantium voluptas? Accusantium nobis quaerat, animi eligendi, magnam cum quis, perferendis impedit
                aliquid dolore autem ut! Maiores velit eaque nesciunt eos voluptates? Reiciendis rerum, error nesciunt
                sit
                repellat ad voluptatum necessitatibus, officiis accusantium ducimus numquam dignissimos. Cum, maiores
                commodi? Iste accusamus consequatur labore nulla possimus similique at voluptates doloremque ducimus,
                voluptatum tempore veritatis obcaecati excepturi fugiat sapiente, sed pariatur veniam!</p>
        </div>
    </div>
    <div class="squares-wrapper">
        <div class="squares">
            <div class="square">
                <div class="img-wrapper">
                    <img src="images/i3.jpeg" alt="Fries">
                </div>
                <div class="square-text-wrapper">
                    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, itaque!</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam, non doloribus explicabo neque dolore exercitationem. Sunt omnis inventore, laborum suscipit voluptate eius in tempore quaerat, ratione odio harum! Numquam eaque asperiores voluptatem quaerat dolores qui reprehenderit? Doloremque minima officia dolorum maxime a, corrupti illum enim molestiae officiis illo, assumenda explicabo.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

